{% extends 'core/layout.html' %}
{% load static %}

{% block custom_style %}
<link href="{% static 'core/css/signin.css' %}" rel="stylesheet">
<style>
    .navbar {
        background-color: #55a9e0 !important;
        height: 75px;
    }

    .contain {
        margin-top: 20px;
    }
    body {
        background-image: url(http://www.powerpointhintergrund.com/uploads/kids-background-18.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>
{% endblock %}


{% block nav_menu %}
<ul class="navbar-nav mr-auto">
            {% if user.is_staff %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'core:dashboard_admin_view' %}">Board <span class="sr-only">(current)</span></a>
          </li>
            {% endif %}
            {% if user.is_authenticated  %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:user_profile_view' %}">Profile</a>
              </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'core:submit_comment' %}">Comments</a>
              </li>

            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'core:about_view' %}">About</a>
              </li>
        </ul>
{% endblock %}

{% block right_nav %}
{% if user.is_authenticated  %}
    <li class="nav-item">
                <a class="nav-link" href="{% url 'core:logout_view' %}">Log out</a>
            </li>
{% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:signin_view' %}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:register_view' %}">Join Us</a>
            </li>
            {% endif %}

{% endblock %}

{% block layout %}
<div class="contain">


<form class="form-signin" method="post" action="{% url 'core:signin_view' %}" >
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
    </div>
{% endblock %}