{% extends 'core/admin/admin_base.html' %}

{% block is_active_1 %}active{% endblock %}

{% block modal %}

<div class="modal fade" id="modal_win" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

      <div class="modal-content">
        <form action="{% url 'core:questions_admin_upload_view' %}" method="post" enctype="multipart/form-data" >
            <div class="modal-header">
                <span>Choose CSV file to upload</span>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <label>Upload </label>
                <input type="file"  name="question_file" />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Upload" />
            </div>
        </form>
      </div>

  </div>
</div>

<div class="modal bd-example-modal-lg fade" id="modal_detail"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

      <div class="modal-content">
            <div class="modal-header">
                <span>Question's details</span>
            </div>
            <div class="modal-body ">
                <div class="container-fluid"  id="modal_body">

                </div>
            </div>
            <div class="modal-footer">
            </div>
      </div>

  </div>
</div>

{% endblock %}

{% block module_title %}
<div class="row">
    <div class="col-lg-10">Questions</div>

    <div class="col-lg-2">
        <button  class="btn btn-success" id="btn_upload" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
        <i class="icon ion-upload" ></i>
        </button>
    </div>
</div>

{% endblock %}

{% block  content %}

{% if data_error %}
<div class="row">
    <div class="alert alert-danger">{{ data_error }}</div>
</div>
{% endif %}
<section class="row">

    {% if list_questions.has_other_pages %}
    <nav aria-label="Page navigation ">
      <ul class="pagination">
        {% if list_questions.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ list_questions.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class=" page-item"><span >&laquo;</span></li>
        {% endif %}

        {% for i in list_questions.paginator.page_range %}

          {% if list_questions.number == i %}
            <li class="active page-item">
                <span class=" page-link">{{ i }} <span class=" sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}

        {% endfor %}

        {% if list_questions.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ list_questions.next_page_number }}"> &raquo; </a>
          </li>
        {% else %}
          <li class="page-item"><span class="page-link">&raquo; </span></li>
        {% endif %}

      </ul>
    </nav>
    {% endif %}

    <div class="col-md-11 table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Num</th>
                <th>Topic</th>
                <th>Question text </th>
                <th>Tags</th>
                <th>Schedule day</th>
                <th colspan="2">Actions</th>
            </tr>
            {% if list_questions %}
            {% for question in list_questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.topic }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.tags }}</td>
                <td>{{ question.scheduled_day }}</td>
                <td><a href="{% url 'core:question_detail_view'  %}?question_id={{question.id}}"  class="btn btn-primary">Details</a></td>
                <td><button onclick="edit('{% url 'core:edit_questions_admin_view'  %}?question={{question.id}}  ')" class="btn btn-warning">Edit</button></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>No questions for the moment</td>
            </tr>
            {% endif %}

        </table>
    </div>

    {% if list_questions.has_other_pages %}
    <nav aria-label="Page navigation ">
      <ul class="pagination">
        {% if list_questions.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ list_questions.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class=" page-item"><span >&laquo;</span></li>
        {% endif %}

        {% for i in list_questions.paginator.page_range %}

          {% if list_questions.number == i %}
            <li class="active page-item">
                <span class=" page-link">{{ i }} <span class=" sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}

        {% endfor %}

        {% if list_questions.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ list_questions.next_page_number }}"> &raquo; </a>
          </li>
        {% else %}
          <li class="page-item"><span class="page-link">&raquo; </span></li>
        {% endif %}

      </ul>
    </nav>
    {% endif %}

</section>


{% endblock %}

{% block script_js %}
<script>
    $('#btn_upload').click(function() {
        $('#modal_win').modal('show');
    });

    function openDetail(id){

    }
    function detail(id){
        console.log(id)
        var url = "{% url 'core:question_detail_view'  %}?question_id="+parseInt(id)
        console.log(url)
        $( "#modal_body" ).load(url, function(){
            $('#modal_detail').modal('show');
        });
    }

    function edit(url){
        $( "#modal_body" ).load(url, function(){
            $('#modal_detail').modal('show');
            $('#modal_detail input').addClass('form-control');
            $('#modal_detail textarea').addClass('form-control');
        });
    }

</script>

{% endblock %}