{% extends 'core/admin/admin_base.html' %}

{% block is_active_2 %}active{% endblock %}


{% block module_title %}

<div class="row">
    <div class="col-lg-10">Students</div>
</div>
{% endblock %}

{% block  content %}


<section class="row">
    {% if list_students.has_other_pages %}
    <nav aria-label="Page navigation example">

      <ul class="pagination">
        {% if list_students.has_previous %}

          <li class="page-item"><a class="page-link" href="?page={{ list_students.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class=" page-item"><span>&laquo;</span></li>
        {% endif %}

        {% for i in list_students.paginator.page_range %}

          {% if list_students.number == i %}
            <li class="active page-item">
                <span class=" page-link">{{ i }} <span class=" sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}

        {% endfor %}

        {% if list_students.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ list_students.next_page_number }}"> &raquo; </a>
          </li>
        {% else %}
          <li class=" page-item"><span class="page-link">&raquo; </span></li>
        {% endif %}

      </ul>
    </nav>
    {% endif %}
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Nun</th>
                <th>first name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Actual score</th>
                <!-- th colspan="2">Actions</th -->
            </tr>
            {% if list_students %}
                {% for stud in list_students %}
                <tr>
                    <td>{{ stud.id }}</td>
                    <td>{{ stud.user.first_name }}</td>
                    <td>{{ stud.user.last_name }}</td>
                    <td>{{ stud.user.email }}</td>
                    <td>{{ stud }}</td>
                    <!-- td><button class="btn btn-primary">Profile</button></td>
                    <td><button class="btn btn-danger">Delete</button></td -->
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td>No student</td>
            </tr>
            {% endif %}

        </table>
    </div>
</section>


{% endblock %}

